.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-family: var(--font-family);
  color: var(--color-dark-gray);
  background-color: var(--color-white);
  font-size: var(--font-m);
}

.date__text {
  /* * должен вмещаться в строку*/
}

.date__value {
  font-size: var(--font-xl);
  /* * должен вмещаться в строку*/
}
