.list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2F3438;
  border-radius: 10px;
  overflow: hidden;
}

/*.list__input-container {*/
/*  position: relative;*/
/*  width: 92.5%;*/
/*  height: 50px;*/
/*  margin: 4% auto;*/
/*}*/

/*.list__input {*/
/*  box-sizing: border-box;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: #fff;*/
/*  color: #727578;*/
/*  font-family: 'Rubik', sans-serif;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  border: none;*/
/*  border-radius: 10px;*/
/*  outline: none;*/
/*  padding-left: 45px;*/
/*}*/

/*.list__search-icon {*/
/*  color: #25292E;*/
/*  font-size: 24px;*/
/*  position: absolute;*/
/*  left: 10px;*/
/*  top: 12.5px;*/
/*  cursor: pointer;*/
/*  transform: scaleX(-1);*/
/*}*/

/*.list__keyboard-icon {*/
/*  color: #25292E;*/
/*  font-size: 24px;*/
/*  position: absolute;*/
/*  right: 10px;*/
/*  top: 12.5px;*/
/*  cursor: pointer;*/
/*}*/

.list__items-list {
  width: 92.5%;
  height: 90%;
  margin: 4% auto;
  overflow-y: auto;
  list-style: none;
}


.list__items-list::-webkit-scrollbar {
  width: 8px;
}

.list__items-list::-webkit-scrollbar-track {
  background: #727578;
  border-radius: 5px;
}

.list__items-list::-webkit-scrollbar-thumb {
  background: #25292E;
  border-radius: 5px;
}

.list__item {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  margin: 5px 0;
  padding: 5px;
  transition: background .3s ease-in;
}

.list__item:hover {
  background-color: #727578;
}

.list__flag-container {
  width: 36px;
  height: 24px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list__flag {
  width: 100%;
  height: 100%;
}

.list__country {
  margin: 0 10px;
  font-weight: 300;
  font-size: 18px;
}

.list__confirmed {
  margin-left: auto;
  margin-right: 10px;
  font-weight: 500;
  font-size: 14px;
}
