body {
  background-color: var(--color-dark);
}

.grid-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 22% 56% 22%;
  grid-template-rows: 10% 82% 8%;
  grid-template-areas:
    "header header date"
    "details map data"
    "footer footer footer";
  padding: var(--gap-m);
}

.header {
  grid-area: header;
  padding: var(--gap-m);
}

.map {
  grid-area: map;
  padding: var(--gap-s);
}

.details {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 18% 82%;
  grid-template-areas:
    "cases"
    "list";
  grid-area: details;
  padding: var(--gap-s);
}

.cases {
  grid-area: cases;
  padding-bottom: var(--gap-s);
}

.list {
  grid-area: list;
  padding-top: var(--gap-s);
}

.data {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "broad"
    "chart";
  grid-area: data;
  padding: var(--gap-s);
}

.broad {
  grid-area: broad;
  padding-bottom: var(--gap-s);
}

.chart {
  grid-area: chart;
  padding-top: var(--gap-s);
}

.footer {
  grid-area: footer;
  padding: var(--gap-s);
}

.date {
  grid-area: date;
  padding: var(--gap-s);
}


.item {
  background-color: tomato;
  height: 100%;
  width: 100%;
}
