:root {
  --color-red: #FF3E58;
  --color-dark-red: #59363E;
  --color-blue: #01A4F6;
  --color-dark-blue: #264A5E;
  --color-dark-gray: #2F3438;
  --color-light-gray: #727578;
  --color-dark: #25292E;
  --color-white: #fff;

  /* TODO: delete this */
  --font-xs: 0.8rem;
  --font-s: 0.9rem;
  --font-m: 1rem;
  --font-l: 1.2rem;
  --font-xl: 1.4rem;

  --font-family: 'Rubik', sans-serif;

  /* TODO: delete this */
  --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  --gap-s: 5px;
  --gap-m: 10px;


  --border-radius-s: 5px;
  --border-radius-m: 10px;
}
